body{
    font-family: 'Quicksand', helvetica, sans-serif;
    background-color: 	#4885ed;
}

div.body-wrapper{
position: relative;
max-width: 1000px;
margin: auto auto;
}


div.title{
    width: 100%;
    height: 100%;
    float: left;
    padding-left: -10px;
}

h1{
  color: #ffffff;
    font-weight: 800;
    font-size: 3em;
    max-width: 800px;
    text-align: left;
    margin: 25px, 25px;
    margin-right: auto;
    margin-left: 15px;
    margin-bottom: auto;
}

h2{
color: #ffffff;
}

h3{
  font-size: 1.25em;
  color: #ffffff;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

div.bio{
  width: 26%;
  margin-top: 25px;
  padding: 10px;
  display: inline-block;
  float: left;
  margin: 0 1%;

}

div.assigment-component{
  width: 28%;
  margin-top: 25px;
  padding: 10px;
  display: inline-block;
  margin: 0 1%;
  float: left;

}

p.component-text{
  width: 100%;
  color: #ffffff;
  display: inline-block;
  float: left;
  margin: 5px;

}
div.component-break{
  clear: left;
}

img.bioImage{
    width: 100%;
    float: left;

}

img.componentImage{
    width: 100%;
    display: block;
    margin: 0 auto;
}


div.bioText{
  width: 45%;
  color: #ffffff;
  display: inline-block;
  float: left;

}

p.bioText{
  width: 26%;
    font-weight: 800;
    font-size: 1.05em;
    line-height: 100%;
    color: #ffffff;
    margin-left: 15px;
}

p.bioText > a{
    color: #ffffff;

}

p.bioText > a:hover{
    background-color: #FFFF00;
}

div.linkList{
    max-width: 800px;
    float: left;
    clear: left;
    margin-left: 10px;

}

li.assignmentLink{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
    list-style-type: none;
    color: #ffffff;

}

li.assignmentLink > a{
    color: #ffffff;
}

li.assignmentLink > a:hover{
    background-color: #fe7757;
}
